<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/download.png">
        <title>404 Page</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>ERROR 404</p>
        </div>
        {{>footer}}
    </body>
</html>
