<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/download.png">
    <title>About page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Marin. It uses data from mapbox.com and darksky.net</p>
        <div class="cloudapp-embed portrait" data-slug="f30f9445997a"><a href="http://files.mead.io/f30f9445997a">me.png</a><script async src="https://embed.cl.ly/embedded.gz.js" charset="utf-8"></script></div>
    </div>
    {{>footer}}
</body>
</html>
